<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "pildorasinformaticas/navbar.html" %}
    <h1>Primera plantilla</h1>
    {% if persona.first_name == "Juan" %}
    <p>Hay muchos Juan</p>
    {% endif %}
    <p>El nombre es: {{persona.first_name.upper}} {{persona.last_name.lower}}</p>
    <h2>Temas</h2>
    {% if themes %}
    <ul>
        {% for tema in themes %}
        <li>{{tema.capitalize}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay elementos</p>
    {% endif %}
    
</body>
</html>